$text-color: #2E526B;

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: $text-color;
    line-height: 1.4;
    font-weight: 4rem;
}

.wrapper {
    max-width: 1280px;
    max-height: 100%;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 1210px;
    padding-left: 4rem;
    padding-right: 4rem;
}

@mixin flex($justify: flex-start, $align: flex-start, $wrap: nowrap, $dir: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    flex-direction: $dir;
}

.header {
    &__fearture {
        height: 1000px;
        background-image: url('../imgs/background.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        position: relative;
    }

    &__nav {
        @include flex(space-between, center, nowrap);
        height: 25%;

        &-logo {
            cursor: pointer;

            font-weight: 900;
            font-size: 40px;
            line-height: 48px;
            color: #FFFFFF;
        }

        &-list {
            @include flex(space-between, center, nowrap);

            width: 30%;
            margin: 0px 141px;

            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;

            & a {
                cursor: pointer;

            }

        }

        &-button {
            @include flex(center, center, nowrap);
            cursor: pointer;

            width: 150px;
            height: 46px;
            left: 1161px;
            top: 1px;

            background: #2E526B;
            border-radius: 15px;

            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
        }
    }

    &__lines {
        @include flex(space-between, center, nowrap);

        &-text-title {
            font-weight: 800;
            font-size: 55px;
            line-height: 75px;
            color: #FFFFFF;
        }

        &-text-des {
            font-weight: 400;
            font-size: 20px;
            line-height: 160%;
            color: #FFFFFF;

            opacity: 0.8;
        }

        &-text-btn {
            @include flex(center, center, nowrap);
            cursor: pointer;

            width: 180px;
            height: 46px;
            left: 1161px;
            top: 1px;

            background: #2E526B;
            border-radius: 15px;

            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
        }

        &-bg {
            height: 100px;
            width: 100px;
            background-image: url('../imgs/stylized-cards.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }
    }
}

.service {
    margin-bottom: 100px;

    &__imgLeft {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &__imgRight {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__heading {
        h1 {
            font-style: normal;
            font-weight: 800;
            font-size: 40px;
            line-height: 54px;

            text-align: center;
            letter-spacing: -0.01em;
            color: #2E526B;

            border-bottom: 2px solid #EB5757;
            ;
        }
    }

    &__listcard {
        @include flex(space-between, center, nowrap);
    }

    &__card-item {
        @include flex(flex, center, nowrap, column);
        padding: 16px;

        background: #FFFFFF;
        box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
        border-radius: 20px;

        position: static;
        width: 393.33px;
        height: 491.97px;
        left: 858.67px;
        top: 0px;

        img {
            position: static;
            width: 361.33px;
            height: 226.97px;
            left: 0px;
            top: 0px;

            border-radius: 16px;
        }

        h2 {
            position: static;
            width: 361.33px;
            height: 33px;
            left: 0px;
            top: 0px;

            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 33px;
            /* identical to box height */

            text-align: center;
            letter-spacing: -0.01em;

            color: #2E526B;
        }

        p {
            position: static;
            width: 361.33px;
            height: 140px;
            left: 0px;
            top: 41px;

            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 28px;
            text-align: center;

            color: #2E526B;

            opacity: 0.8;
        }
    }
}

.partner {
    height: 1000px;
    background-image: url('../imgs/background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    &__imgLeft {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &__imgRight {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__title {
        h1 {
            font-style: normal;
            font-weight: 800;
            font-size: 40px;
            line-height: 54px;
            text-align: center;

            color: #FFFFFF;
        }
    }

    &__list {
        background-image: url('../imgs/Path.png');
        background-position: center;
        background-repeat: no-repeat;
        //  background-size: cover;
        @include flex(space-between, center, nowrap);

        &-item {
            @include flex(flex-start, center, nowrap, column);

            h1 {
                font-style: normal;
                font-weight: 700;
                font-size: 27px;
                line-height: 30px;

                text-align: center;
                color: #FFFFFF
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 29px;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
}